hr {
  border-top: 1px solid rgb(188, 197, 188);
}
iframe {
  max-width:649px;
  width: 60%;
  height: 405px;
  border: 0px;
  display: block;
  margin-left: auto;
}
h1 {
  text-align: center;
}
label {
  display: block;
  margin-top:15px;
  min-width: 400px;
}
input {
  display: block;
  margin: auto;
}
button {
  margin-top: 15px !important;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  width: 60%;
}
thead {
  font-size: x-large;
}
th {
  background-color: lightgray;
}
tbody tr {
  border-bottom: lightgray 1px solid;
}
tbody tr:nth-child(1) {
  border-bottom: 0px;
}
tbody tr:last-child {
  border-bottom: 0px;
}
tbody tr:nth-last-child(2) {
  border-bottom: 0px;
}
tr td:nth-child(2) {
  text-align: center;
}
tr td:nth-child(3) {
  text-align: right;
  padding-right: 5px;
}
tr td:nth-child(4) {
  text-align: right;
}
tbody tr th:nth-child(3) {
  text-align: right;
  padding-right: 5px;
}
tbody tr th:nth-child(4) {
  text-align: right;
}
.border {
  border: 1px solid rgb(188, 197, 188);
  border-radius: 0.2em;
  padding: 10px;
  margin: 5px;
}
.center {
  margin: auto;
  width: 420px;
}
.right {
  text-align: right;
}

.header {
  background-color: black;
  height: 50px;
  width: 100%;
  white-space: nowrap;
  text-align: left;
  margin: 1em 0;
}
