.border {
  border: 1px solid rgb(188, 197, 188);
  border-radius: 0.2em;
  padding: 10px;
  margin: 5px;
}
.center {
  margin: auto;
  width: 420px;
}
hr {
  border-top: 1px solid rgb(188, 197, 188);
}
button {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
